DATABASE_URL_FILE=/run/secrets/platform_runtime_database_url
APOLLO_REDIS_URL=redis://127.0.0.1:6379
PORT=3000
APOLLO_ALLOWED_ORIGINS=https://apollot.ru,https://admin.apollot.ru
APOLLO_ASSERTION_PRIVATE_JWK_FILE=/run/secrets/platform_assertion_private_jwk
APOLLO_ASSERTION_PUBLIC_JWKS_FILE=/run/secrets/platform_assertion_public_jwks
APOLLO_INTROSPECTION_CLIENT_ID=apollo-tf-api
APOLLO_ISSUER=https://api.apollot.ru
APOLLO_OAUTH_CLIENTS_FILE=/run/secrets/platform_oauth_clients
APOLLO_OPERATOR_BOOTSTRAP_TOKEN_FILE=/run/secrets/platform_operator_bootstrap_token
APOLLO_DEVELOPMENT_TOKEN_ECHO=false
APOLLO_TRUST_PROXY_HOPS=0
NODE_ENV=development
